.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}



.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}

/*header*/
.header {
  width: 100%;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  margin-right: auto;
  padding: 10px 0px;
}

.header-nav {
  display: none;
}

.header-button,
.main-button {
  display: none;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-btn-icon {
  fill: #7eb101;
}

.burger-btn-icon:active {
  fill: #ffe550;
}


 /*mobile-menu*/

.mobile-menu{width: 170px;
  height: 311px;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
    background: #bbf330;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
      visibility: hidden;
      pointer-events: none;
    

}


.mob-menu-nav-list{display: flex;
flex-wrap: wrap;
}

.mobile-menu-container{
  padding-top: 0;
  padding-bottom: 40px;
  padding-left: 0;
}


.mob-nav-link {
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    display: block;
}

.mob-nav-link{
padding: 16px 41px 16px 16px;
width: 130px;
height: 51px;}

.mob-nav-link-home{
font-weight: 700;
color: #2c2c2c;}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media screen and (min-width: 768px) {

  .mobile-menu{display: none;}
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    margin-right: 30px;
  }

  .nav-list {
    display: flex;
    gap: 28px;
  }

  .nav-link {
    font-family: inherit;
    display: block;
    font-size: 14px;
    color: #000;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-decoration: underline;
    color: #bbf330;
  }

  .header-button {
    display: block;
    border-radius: 30px;
    min-width: 98px;
    height: 32px;
    background: #bbf330;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #2c2c2c;
    padding: 6px 17px;
  }

  .header-button:hover,
  .header-button:focus,
  .header-button:active {
    background: #ffe450;
  }
}

@media screen and (min-width: 1280px) {

  .mobile-menu {
      display: none;
    }
  .nav-link {
    color: #2c2c2c;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    font-weight: 700;
  }
}

/*hero-section*/

.hero-section {
  padding-top: 60px;
  padding-bottom: 91px;
}

.hero-img {
  display: none;
}

.hero-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 28px;
  color: #2c2c2c;
}

.hero-text {
  line-height: 1.5;
  margin-bottom: 32px;
  font-size: 14px;
}

.main-button {
  display: block;
  border-radius: 30px;
  min-width: 98px;
  height: 32px;
  background: #bbf330;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  padding: 6px 17px;
}

.main-button:hover,
.main-button:focus,
.main-button:active {
  background: #ffe450;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 60px;
    padding-bottom: 42px;
  }
  .hero-section-container {
    display: flex;
  }

  .hero-section-text {
    display: block;
  }

  .hero-title {
    font-size: 42px;
    margin-bottom: 44px;
    min-width: 537px;
  }

  .hero-text {
    line-height: 1.5;
    margin-bottom: 40px;
    font-size: 16px;
    max-width: 336px;
  }

  .hero-img {
    display: block;
    max-width: 320px;
    border: 14px solid #ffe550;
    padding: 0;
    border-radius: 50%;
    margin-top: 89px;
    margin-left: -167px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 14px;
    padding-bottom: 69px;
  }

  .hero-section-container {
    display: flex;
    align-items: center;
  }

  .hero-section-text {
    display: block;
    max-width: 511px;
    margin-right: 143px;
  }

  .hero-title {
    font-size: 48px;
    margin-bottom: 28px;
  }

  .hero-text {
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .hero-img {
    padding: 0;
    max-width: 580px;
    margin: 0;
    border: 26px solid #ffe550;
  }
}

/*benefits-section*/

.benefits-section {
  padding-top: 0;
  padding-bottom: 132px;
}

.apple-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
}

.benefits-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 28px;
}

.benefits-text {
  line-height: 1.43;
  font-size: 14px;
  margin-bottom: 28px;
}

.benefits-list {
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.benefits-icon {
  fill: #7eb101;
  margin-left: 7px;
  margin-bottom: 16px;
}

.benefits-item-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}

.benefits-item-text {
  font-size: 14px;
  line-height: 1.43;
}

.benefits-btn-container {
  display: flex;
  gap: 24px;
}

.benefits-button {
  border: 2px solid #7eb101;
  background: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  width: 106px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
}

.more-btn {
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #000;
  width: 83px;
  height: 34px;
  padding: 6px 0px;
  display: flex;
  align-items: center;
}

.more-btn-icon {
  fill: #000;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .benefits-section {
    padding-bottom: 191px;
    padding-right: 116px;
  }
  .benefits-section-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding-right: 0;
  }

  .apple-img {
    display: block;
    margin-left: 38px;
    margin-bottom: 60px;
  }

  .benefits-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .benefits-text {
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 25px;
    max-width: 500px;
  }

  .benefits-list {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 80px;
  }

  .benefits-list {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits-section {
    background-color: #ffe550;
    padding-top: 113px;
    padding-bottom: 124px;
  }

  .benefits-section-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .picture-container-frame {
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 24px;
  }

  .picture-container {
    width: 502px;

    height: 502px;
    background-color: #fefefe;
    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 50%;

    padding: 46px;
  }

  .apple-img {
    width: 396px;
    margin-top: -51px;
    margin-left: 0;
  }

  .benefits-section-text {
    display: block;
    max-width: 573px;
    margin-left: 90px;
  }

  .benefits-text {
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .benefits-list {
    margin-bottom: 32px;
    display: flex;
    gap: 67px;
  }

  .benefits-list-item {
    width: 253px;
  }

  .benefits-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
  }

  .benefits-item-text {
    font-size: 14px;
    line-height: 1.5;
  }

  .benefits-button {
    border: 2px solid #7eb101;
    background: #fff;
  }

  .more-btn {
    display: none;
  }
}

/*dishes-section*/
@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

.dishes-section {
  margin-bottom: 120px;
}

.dishes-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.dishes-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}

.dishes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dishes-img {
  border: 11px solid #ffe550;
  border-radius: 50%;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .dishes-section {
    margin-bottom: 160px;
  }

  .dishes-title {
    font-size: 42px;
  }

  .dishes-text {
    font-size: 16px;
  }
  .dishes-list {
    gap: 32px;
  }

  .dishes-img {
    border: 14px solid #ffe550;
    border-radius: 50%;
    padding: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .dishes-section {
    padding-top: 120px;
    padding-bottom: 101px;
  }

  .dishes-section-container {
    padding-right: 0;
  }

  .dishes-text {
    margin-bottom: 40px;
  }

  .dishes-img {
    border: 16px solid #ffe550;
    padding: 24px;
  }
}

/*feedback-section*/

.feedback-section {
  margin-bottom: 17px;
}

.feedback-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}

.feedback-section-text {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 32px;
}

.feedback-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.stars {
  padding: 0;
  fill: #ffe550;
  height: 16px;
  margin-bottom: 28px;
}

.feedback-item {
}

.feedback-text {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 40px;
}

.customer-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 2px;
}

.customer-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .feedback-section {
    margin-bottom: 40px;
  }

  .feedback-title {
    font-size: 42px;
  }

  .feedback-section-text {
    font-size: 16px;
    margin-bottom: 44px;
  }

  .feedback-list {
    gap: 32px;
    flex-wrap: nowrap;
  }

  .feedback-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .feedback-section {
    padding-top: 140px;
    padding-bottom: 126px;
    background: #ffe550;
  }

  .feedback-section-text {
    margin-bottom: 32px;
  }

  .feedback-item {
    width: 501px;
    height: 231px;
    background: #fefefe;
    border-radius: 0 30px 30px 30px;
    padding: 14px;
  }

  .feedback-list {
    gap: 139px;
    flex-wrap: nowrap;
  }

  .customer-frame {
  }
}

/*subscribe-section*/

.subscribe-section {
  margin-bottom: 60px;
}

.banan-img {
  margin: 0 auto;
  margin-bottom: 17px;
}

.subscribe-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.subscribe-text {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 40px;
}


.subscribe-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 279px;
  height: 42px;
  background: #fff;
  margin-bottom: 20px;
}

.subscribe-button {
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;
  background: #bbf330;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .subscribe-section {
    margin-bottom: 100px;
  }

  .banan-img {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

.subscribe-title {
  font-size: 42px;

}

.subscribe-text {
  font-size: 16px;
  margin-bottom: 24px;

}

.subscribe-input {
  width: 394px;
    height: 42px;

}

.subscribe-form{
  display: flex;
  gap:22px;
}

.subscribe-button {
  margin-left: 0;
}

}

@media screen and (min-width: 1280px) {

.subscribe-section {
    padding-top: 176px;
padding-bottom: 201px;
margin-bottom: 0;
  }

        .subscribe-section-container {
          display: flex;
          min-height: 266px;
          align-items: center;
          position: relative;
        }

.banan-img{
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 0;
  
}

.subscribe-form {
  gap: 32px;
}

.subscribe-text { max-width: 532px;}

}

/*footer*/

.footer{box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
  background-image: url(../images/tel-footer-bg.png);
background-repeat: no-repeat;
  padding-top: 60px;
padding-bottom: 60px;
background-position:center;

}

.footer-nav-container{display: flex;
  margin-bottom: 40px;
 
}

.footer-logo{margin-right: 46px;
padding: 0;}

.footer-nav-link-list {display: flex;
  flex-wrap: wrap;
  max-width: 50px;
  gap: 20px;
}


.footer-form-text {
  font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.footer-form-input {
  border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 10px;
    width: 279px;
    height: 42px;
    background: #fff;
    margin-bottom: 20px;
}

.policy-text {font-family: inherit;
  font-weight: 400;
  font-size: 10px;
  color: #2c2c2c;
margin-top: 24px;
margin-bottom: 60px;}

.policy-link {text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;}


.footer-link-list {display: flex;
gap:32px;
margin-bottom: 40px;}

.footer-link-list-item {}

.footer-link {font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;}

.footer-right-text {
    font-weight: 400;
    font-size: 10px;
    display: flex;
    justify-content: center;
  
}

@media screen and (min-width: 768px) {

  .footer {
    
      background-image: url(../images/tab-footer-bg.png);
      padding-top: 118px;
      padding-bottom: 100px;
  
    }

        .footer-nav-container{align-items: center;}

        .footer-logo {
          margin-right: 114px;
        }
    
        .footer-nav-link-list {
          flex-wrap: nowrap;
          max-width: auto;
          gap: 28px;
        }


        .input-btn-footer{display: flex;
        gap: 13px;
      margin-bottom: 13px;}

      .footer-form-input{margin-bottom: 0;}

      .policy-text{margin-top: 0;}

      .footer-form{margin-bottom: 100px;}

      .footer-2container{display: flex;
      justify-content: space-between;}

}


@media screen and (min-width: 1280px) {

    .footer {
    
        background-image: url(../images/footer-bg.png);
        padding-top: 100px;
        padding-bottom: 100px;
        background-position: bottom;
    
      }

      .footer-1container{display: flex;}

.footer-form {
  margin:0;
  margin-left: auto;
}


.footer-logo {
  margin-right: 143px;
}

.footer-nav-container {
  margin: 0;
  align-items:flex-start;

}

.footer-nav-link-list{margin-top: 18px;}

.footer-1container{margin-bottom: 80px;}

.footer-2container{padding: 0;}

.footer-link-list{margin-bottom: 0;}
}







.modal-overlay {
  opacity: 0;
    visibility: hidden;
    pointer-events: none;
width: 100%;
  height: 100%;
  position: fixed;
    background: rgba(94, 99, 99, 0.7);
    top: 0;
      left: 0;
      z-index: 999;
     

}

.is-open{opacity: 1;
  visibility:visible;
  pointer-events:all;}

.modal {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 30px;
    width: 320px;
      min-height: 449px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
      background: #ffe550;
      padding: 32px 20px;
      
}

.modal-close-btn {border-radius: 100%;
  fill: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
width: 32px;
height: 32px;
border-radius: 50%;
border:none;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 16px;
right: 16px;
}


.modal-close-btn-icon{fill: #2c2c2c;}
  

.form-title {
  font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #2c2c2c;
    text-align: center;
    margin-bottom: 20px;
}

.form {position: relative;}

.modal-input-container {
  margin-bottom: 24px;
  margin-left: 0;
}

.form-label {
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: #2c2c2c;
    margin-left: 12px;
}

.form-input {
  border: 1px solid #7eb101;
    border-radius: 30px;
    width: 280px;
    height: 48px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      background: #fff;
      padding-left: 12px;
      font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: #2c2c2c;
}


input::placeholder{color: #c4c4c4;}

.form-send-btn {border: 2px solid #7eb101;
border-radius: 30px;
padding: 10px 20px;
width: 106px;
height: 40px;
background: #fff;
font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
position: absolute;
left:50%;
transform: translate(-50%);
margin-top: 8px;}

.form-send-btn:active{
background: #bbf330;}

@media screen and (min-width: 768px) {

  .modal {
  position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
  width: 458px;
    padding: 32px;}

.form-input {
        min-width: 394px;
        height: 48px;

}

